<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User LIst</title>
</head>
<body>
<h2>Список пользователей</h2>
<table border="1">
    <tr>
        <th>id</th>
        <th>Имя</th>
        <th>Роль</th>
    </tr>
    <tr th:each="user : ${userList}">
        <td th:utext="${user.getId()}"/>
        <td th:utext="${user.getUsername()}"/>
        <th:block th:each = "role : ${user.getRoles()}">
        <td th:utext="${role}"/>
        </th:block>
        <td><a th:href="'/user/' + ${user.getId()}">edit</a> </td>

    </tr>

</table>
</body>
</html>