<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>User LIst</title>

</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="/">WebAppSpBoot 1</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/main">Сообщения</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/user/profile">Профайл</a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link" href="/user">Пользователи</a>
                </li>
            </ul>
            <div class="navbar-text"><span th:text="${username}"></span> </div>
            <div class="col-sm-3 ml-1">
                <form th:action="@{/logout}" method="post">
                    <input th:if="${username!=null}"  type="submit" class="btn btn-primary" value="Выйти"/>
                </form>
            </div>
        </div>
    </nav>
    <div class="container mt-4">
        <h2>Список пользователей</h2>
        <div>
            <table border="1">
                <table class="table">
                    <thead class="thead-dark">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Имя</th>
                        <th scope="col">Эмейл</th>
                        <th scope="col">Роль</th>
                        <th scope="col"> </th>
                    </tr>
                    </thead>
                <tr th:each="user : ${userList}">
                    <td th:utext="${user.getId()}"/>
                    <td th:utext="${user.getUsername()}"/>
                    <td th:utext="${user.getMail()}"/>
                    <td>
                        <th:block th:each = "role : ${user.getRoles()}"
                                  th:utext="${role} + ' '"> </th:block>
                    </td>
                    <td> <a th:href="'/user/' + ${user.getId()}">edit</a></td>


                </tr>
            </table>
        </div>
    </div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>